@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body::before {
  background-color: #000;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#ffffff 1px, transparent 1px),
    radial-gradient(#ffffff 1px, transparent 1px);
  background-size: 100px 100px, 150px 150px;
  background-position: 0 0, 50px 50px;
  z-index: -1;
  animation: starMove 60s linear infinite;
  opacity: 0.2;
}
@layer utilities {
  .shape-circle {
    shape-outside: circle();
    clip-path: circle();
    -webkit-shape-outside: circle();
    -webkit-clip-path: circle();
  }
  .animate-floaty {
    animation: floaty 10s infinite linear;
  }
  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
  }
  .marquee-wrapper:hover .animate-marquee {
    animation-play-state: paused;
  }
  .marquee-wrapper {
    overflow: hidden;
  }
  .borde-animado {
    position: relative;
    border-left: 2px solid #22d3ee;
    padding-left: 1.25rem;
  }
  .borde-animado::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 4px;
    height: 100px;
    background: linear-gradient(to bottom, transparent, #22d3ee, transparent);
    animation: recorrerBorde 2s linear infinite;
    z-index: 1;
    pointer-events: none;
  }
  @keyframes background-shine {
  0% {
    background-position: 0% 50%; 
  }
  100% {
    background-position: 100% 40%;
  }
}

.animate-background-shine {
  animation: background-shine 3s ease-in-out infinite;
}
  
  @keyframes starMove {
    from {
      background-position: 0 0, 50px 50px;
    }
    to {
      background-position: -1000px 1000px, -1500px 1500px;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes recorrerBorde {
    0% {
      top: -150%;
    }
    100% {
      top: 100%;
    }
  }
}
